{% extends "base.html" %}
{% block content %}



<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="about.css">
  


<!--COMPLETED NAV PILLS-->
<ul class="nav nav-pills">
  <li class="active"><a href="/home">Home</a></li>	
  <li class="active"><a href="/about">About</a></li>
  <li class="active"><a href="/contact">Contact Us</a></li>
  <li class="active"><a href="/logout">Logout</a></li>
  
  <li class="active dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Go To: <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/home">Home</a></li>
	  <li><a href="/view_booked_inventory">View inventory bookings</a></li>
	  <li><a href="/view_booked_rooms">View room bookigns</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
</ul>

</style>
</head>

<hr>

<h1><b>What is a makerspace?</b></h1>

<p>A makerspace (also referred to as a hacklab, hackspace, or makerspace) is a community-operated,
often "not for profit")workspace where people with common interests, 
such as computers, maching, technology, sceience,digital art can meet and socialize.</p>



<h2><b>Where can I find a makerspace ?</b></h2>

<p>Specific tools and resources avaliable at hackerspaces
vary from place to place. They typically provide space for members to
work on their individual projects, or to collaborate on group projects
with other members. They may also operate computer tool lending libraries,
or physical tool lending lending libraries.</p>


<hr></hr>

<h3><b>Want to see more and keep in contact?</b></h3>

<h4><a href="/newuser">You can visit here and create an account today !</a></b></h4>


{% endblock %}

