body {
  background-color: #778899
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  
}



ul {
  background-color: #708090;
  font-size:20px;
 
  
}  

p {
  margin: 27px;
  font-size:20px;
  float: right;
  
}  

h1 {
	margin: 27px;
}	

h2 {
   margin: 27px;
   
}

h3 {
   margin: 27px;
   margin-top: 4px;
   color: black
}

h4 {
	margin: 27px;
}	




a {
  color: white;
  font-size:20px;
  
}  


