body {
  background-color: #FFB6C1;
  
}

li a {
  display: pill;
  color: blue;
  text-align: center;
  text-decoration: underline;

  
}



ul {
  background-color: black;
  font-size:10px;
 
  
}  

p {
  margin: 27px;
  font-size:20px;
  float: right;
  
}  

h1 {
	margin: 27px;
}	

h2 {
   margin: 27px;
   
}

h3 {
   margin: 27px;
   margin-top: 4px;
   color: black
}

h4 {
	margin: 27px;
}	




a {
  color: green;
  font-size:20px;
  
}  

hr {
  border-top: 1px solid red;
}

