ul {
  background-color: #dddddd;
  font-size:20px;
  
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
}



img {
  float:  right;
  
  margin: 0px 0px 55px 55px;
}

p {
  margin: 27px;
  font-size:20px;
}  

h1 {
	margin: 27px;
}	

h2 {
   margin: 27px;
}

h3 {
   margin: 27px;
}

