{% extends "base.html" %}
{% block content %}
<!--COMPLETED NAV PILLS-->
<ul class="nav nav-pills">
  <li class="active"><a href="/home">Home</a></li>	
  <li class="active"><a href="/about">About</a></li>
  <li class="active"><a href="/contact">Contact Us</a></li>
  <li class="active"><a href="/logout">Logout</a></li>
  
  <li class="active dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Go To: <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/home">Home</a></li>
	  <li><a href="/view_booked_inventory">View inventory bookings</a></li>
	  <li><a href="/view_booked_rooms">View room bookigns</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
</ul>

<hr>
<title>Book A Room</title>
<h1>Book a room!</h1>
<br>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bookARoom.css">



<!--Start of form for booking a room-->

<body>
	<!--Room Name-->
	<label for="roomBooked">Select a room:</label>
	<select id="room" name="roomBooked">
    	{% value, human in listStatus %}
        <option value="{{request.form.roomBooked}}" {% if value== default %} selected {% endif %}>{{human}}</option>
        {% endfor %}  
	<!--
	  <option value="woodworking lab a" selected>Woodworking Lab A</option>
	  <option value="robotics lab a">Robotics Lab A</option>
	  <option value="3d printer room">3D Printer Room</option>
	  <option value="kitchen lab">Kitchen Lab</option>
	  <option value="woodworking lab b">Woodworking Lab B</option>
	  <option value="metalworking lab a">Metalworking Lab A</option>
	  <option value="metalworking lab b">Metalworking Lab B</option>
	-->
	</select>
	<br><br>
	
	<!--Date-->
	<label for="bookingDate">Requested Date:</label>
	<input type="date" id="requestedDate" name="requestedDateToBook" value="{{
	request.form.bookingDate }}">
	<br><br>
	
	<!--Attendance-->
	<label for="attendanceCount">Attendance Count:</label>
	<input type="text" placeholder="How many attending?" name="enteredAttendance" value="{{
	request.form.enteredAttendance }}"> 
	<br><br>
	
	<!--Purpose-->
	<label for="purpose">Booking Purpose:</label>
	<input type="text" placeholder="What are you using the room for?" name="bookingPurpose" value="{{
	request.form.bookingPurpose }}"> 
	<br><br>
	
	<!--Booked By-->
	<label for="bookedBy">Your Username:</label>
	<input type="text" placeholder="Enter your username" name="bookedBy" value="{{
	request.form.bookedBy }}"> 
	<br><br>
	
	<!--Submit button-->
	<input class="btn btn-default" type="submit" value="Book!">


	<p><b>Here, you can search for current room bookings. Should you find an opening that
you'd like to book, please call the number listed on the contact page!</b></p>
<p><b>Click <a href="/logout">here</a> to logout.</b></p>

	
</body>

{% endblock %}
