h1{
	font-family: Calibri Light;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:18px;	
  background-color: 
  
}


p {
   font-size:20px;
   font-family: Calibri Light;
   margin: 32px;
   
}
   
 body {

	background-color: coral;
 }
 