{% extends "base.html" %}
{% block content %}


<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="contact.css">

  


<!--COMPLETED NAV PILLS-->
<ul class="nav nav-pills">
  <li class="active"><a href="/home">Home</a></li>	
  <li class="active"><a href="/about">About</a></li>
  <li class="active"><a href="/contact">Contact Us</a></li>
  <li class="active"><a href="/logout">Logout</a></li>
  
  <li class="active dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Go To: <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/home">Home</a></li>
	  <li><a href="/view_booked_inventory">View inventory bookings</a></li>
	  <li><a href="/view_booked_rooms">View room bookigns</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
</ul>

<hr>

</style>
</head>
<body>

<h1><b>Responsive Contact Section</b></h1>
<p></p>

<div class="container">
  <div style="text-align:center">
    <h2><b>Contact Us</b></h2>
	<!--
    <h3><a href="/bookARoom">BOOK A ROOM</a></h3>
	-->
  </div>
  <div class="row">
    <div class="column">
      <img src="download.jpg" alt=makerspace width="450" height="300=">
    </div>
    <div class="column">
      <form action="/action_page.php">
       <br><br>

<p><b>Email us at: makerspaceworldftcc@gmail.com</b></p>
<p><b>Call us at: (123)-456-7899</b></p>
<p><b>Click <a href="/logout">here</a> to logout.</b></p>




















{% endblock %}
