{% extends "base.html" %}
{% block content %}
<h1><b></b></h1>
<br>

<form action="" method="post">
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="about.css">
  


<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li class="disabled"><a href="#">Disabled</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </li>
</ul>










<h3>Create A New Account</h3>


  <link rel="stylesheet" type="text/css" href="newuser.css">
  
  <body>
	<!--Get Email-->
	<input type="text" placeholder="Email Address" name="emailAddress" value="{{
	request.form.emailAddress }}"> 
	<br><br>
	
	<!--Get Username-->
	<input type="text" placeholder="Enter Username" name="newUsername" value="{{
	request.form.newUsername }}">
	<br><br>
	
	<!--Get Password-->
	<input type="password" placeholder="Enter Password" name="password" value="{{
	request.form.password }}">
	<br><br>
	
	<!--Verify Password-->
	<input type="password" placeholder="Verify Password" name="verifiedPassword" value="{{
	request.form.verifiedPassword }}">
	<br><br>
	
	<!--Get Phone Number-->
	<input type="text" placeholder="Enter Phone Number" name="phoneNumber" value="{{
	request.form.phoneNumber }}">
	<br><br>
	
	<!--Submit button-->
	<input class="btn btn-default" type="submit" value="Create">
	</body>
	
	<br><br>
</form>
<br>
<p>Already have an account? Click <a href="/login">here</a> to log in.</p>
<br>

{% endblock %}