{% extends "base.html" %}
{% block content %}


<h1>Current Bookings</h1>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="about.css">
  


<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li class="disabled"><a href="#">Disabled</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </li>
</ul>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br><br>
<h3>Booked Rooms:</h3>
{% for booking in bookings %}
	<strong>Booking Number:</strong>{{ booking.roomBookingNumber}} <br>
	<strong>Room Number</strong>{{ booking.roomNumber}} <br>
	<strong>Room Name</strong>{{ booking.roomName}} <br>
	<strong>Booked Date</strong>{{ booking.bookedDate}} <br>
	<strong>Booked Time</strong>{{ booking.bookedTime}} <br>
	<strong>Attendance</strong>{{ booking.attendance}} <br>
	<strong>Purpose</strong>{{ booking.purpose}} <br>
	<strong>Booked By</strong>{{ booking.bookedBy}} <br>

{% endfor %}

{% endblock %}