{% extends "base.html" %}
{% block content %}


<h1>Current Bookings</h1>
<br>
<h2>DEV TESTING LINKS</h2>
<p><a href="/about">ABOUT</a></p>
<p><a href="/index">HOME</a></p>
<p><a href="/welcome">WELCOME</a></p>
<p><a href="/contact">CONTACT</a></p>
<p><a href="/bookARoom">BOOK A ROOM</a></p>
<p><a href="/view_booked_rooms">VIEW ROOM BOOKINGS</a></p>
<p><a href="/view_booked_inventory">VIEW INVENTORY BOOKINGS</a></p>
<p><a href="/login">LOGIN PAGE</a></p>
<p><a href="/logout">LOGOUT</a></p>
<p><a href="/newUser">NEW USER ACCOUNT CREATION</a></p>
<p><a href="/error">ERROR PAGE</a></p>
<h2>END OF DEV TESTING LINKS</h2>
<br>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br><br>
<h3>Item Bookings:</h3>
{% for booking in bookedItems %}
	<strong>Booking Number:</strong>{{ booking.itemBookingNumber}} <br>
	<strong>Item Number</strong>{{ booking.itemNumber}} <br>
	<strong>Item Name</strong>{{ booking.itemName}} <br>
	<strong>Booked Date</strong>{{ booking.bookedDate}} <br>
	<strong>Booked Time</strong>{{ booking.bookedTime}} <br>
	<strong>Assigned Room</strong>{{ booking.attendance}} <br>
	<strong>Booked By</strong>{{ booking.bookedBy}} <br>

{% endfor %}

{% endblock %}