h3 {
	font-size: 30px;
	font-family: Calibri Light;
	margin: 27px;
	margin-top: 4px;
}


body {
	background-color: pink;
	
}	


p {
	font-family: Calibri Light;
	font-size: 25px;
}	
	

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  border-bottom: 0px solid black;
  
}



ul {
  background-color: black;
  font-size:17px;
  border: 1px solid #555;
  
}  

img {
	width: autopx;
	height: 250px;
    
	
}