{% extends "base.html" %}
{% block content %}


<h1>Current Bookings</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br><br>
<h3>Item Bookings:</h3>
{% for booking in bookedItems %}
	<strong>Booking Number:</strong>{{ booking.itemBookingNumber}} <br>
	<strong>Item Number</strong>{{ booking.itemNumber}} <br>
	<strong>Item Name</strong>{{ booking.itemName}} <br>
	<strong>Booked Date</strong>{{ booking.bookedDate}} <br>
	<strong>Booked Time</strong>{{ booking.bookedTime}} <br>
	<strong>Assigned Room</strong>{{ booking.attendance}} <br>
	<strong>Booked By</strong>{{ booking.bookedBy}} <br>

{% endfor %}

{% endblock %}