body {
  background-image: url("mnt.jpg");
  background-size: 1540px ;
  background-position: center;
  
}

body, html {
  height: 100%;
  margin: 0;
}


  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}


li a {
  background-color: none;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 0px solid black;
  
}



ul {
  font-size:23px;
  border:
}  

h2 {
  text-align:center;
  font-size: 22px;
  color: white;
}	

a {
	color: pink;
}	



h1 {
	margin: 27px;
	text-align: center;
	color: black;
	font-size: 60px;
	font-family: Calibri Light, 
}




a:hover, a:active {
  background-color: #b4b4b4
}


